/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Viga&family=Noto+Serif+Georgian:wght@100..900&display=swap');

:root {
  --primary-red: #A51C30;
  --secondary-orange: #F0A202;
  --accent-pink: #FF7E7E;
  --white: #ffffff;
  --light-bg: #F9F9F9;
  --text-dark: #333333;
  --text-light: #666666;
}

body {
  margin: 0;
  font-family: 'Noto Serif Georgian', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--text-dark);
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}